#main {
  width: 100%;
  padding: 24px;
  font-family: Helvetica;
  background: #eee;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 32px;
  width: 400px;
  height: 400px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: white;
}

.card__title {
  flex: 3 0 40%;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.card__stage {
  flex: 2 0 20%;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__time,
.card__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 20%;
}

.card-roasted {
  background: #ccae62;
}
.card-fresh {
  background: #218c74;
}
.card-prepared {
  background: #227093;
}
.card-roti {
  background: #cc8e35;
}

.card-warning .card__time {
  background: #c97474;
  font-size: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-danger .card__time {
  background: #b33939;
  font-size: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* * {
background-color: rgba(255, 0, 0, 0.3);
}
* * {
background-color: rgba(0, 255, 0, 0.3);
}
* * * {
background-color: rgba(35, 0, 55, 0.3);
}
* * * * {
background-color: rgba(255, 0, 0, 0.3);
}
* * * * * {
background-color: rgba(0, 33, 255, 0.3);
} */
